.ColorPicker {}

.ColorPicker__title {}

.ColorPicker__color {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 10px;
    border: none;
    outline: none;
}

.active__color {
    transform: scale(1.4);
}

