img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    box-sizing: border-box;
}

.NavLink {
    color: #000;
    font-size: 16px;
}

.ActiveNavlink {
    color: palevioletred;
    font-size: 18px;
}